<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>8003</key>
	<dict>
		<key>index</key>
		<string>75</string>
		<key>rank</key>
		<string>A</string>
	</dict>
	<key>8004</key>
	<dict>
		<key>index</key>
		<string>72</string>
		<key>rank</key>
		<string>A</string>
	</dict>
	<key>8019</key>
	<dict>
		<key>index</key>
		<string>75</string>
		<key>rank</key>
		<string>A</string>
	</dict>
	<key>8023</key>
	<dict>
		<key>index</key>
		<string>9</string>
		<key>rank</key>
		<string>S</string>
	</dict>
	<key>8024</key>
	<dict>
		<key>index</key>
		<string>35</string>
		<key>rank</key>
		<string>S</string>
	</dict>
	<key>8026</key>
	<dict>
		<key>index</key>
		<string>37</string>
		<key>rank</key>
		<string>S</string>
	</dict>
	<key>8034</key>
	<dict>
		<key>index</key>
		<string>48</string>
		<key>rank</key>
		<string>S</string>
	</dict>
	<key>8037</key>
	<dict>
		<key>index</key>
		<string>23</string>
		<key>rank</key>
		<string>S</string>
	</dict>
	<key>8043</key>
	<dict>
		<key>index</key>
		<string>4</string>
		<key>rank</key>
		<string>S</string>
	</dict>
	<key>8044</key>
	<dict>
		<key>index</key>
		<string>72</string>
		<key>rank</key>
		<string>A</string>
	</dict>
	<key>8048</key>
	<dict>
		<key>index</key>
		<string>59</string>
		<key>rank</key>
		<string>S</string>
	</dict>
	<key>8049</key>
	<dict>
		<key>index</key>
		<string>49</string>
		<key>rank</key>
		<string>S</string>
	</dict>
	<key>8050</key>
	<dict>
		<key>index</key>
		<string>10</string>
		<key>rank</key>
		<string>B</string>
	</dict>
	<key>8052</key>
	<dict>
		<key>index</key>
		<string>20</string>
		<key>rank</key>
		<string>B</string>
	</dict>
	<key>8053</key>
	<dict>
		<key>index</key>
		<string>30</string>
		<key>rank</key>
		<string>B</string>
	</dict>
	<key>8054</key>
	<dict>
		<key>index</key>
		<string>40</string>
		<key>rank</key>
		<string>B</string>
	</dict>
	<key>8055</key>
	<dict>
		<key>index</key>
		<string>50</string>
		<key>rank</key>
		<string>B</string>
	</dict>
	<key>8056</key>
	<dict>
		<key>index</key>
		<string>60</string>
		<key>rank</key>
		<string>B</string>
	</dict>
	<key>8057</key>
	<dict>
		<key>index</key>
		<string>70</string>
		<key>rank</key>
		<string>B</string>
	</dict>
</dict>
</plist>
