<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>icon4001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1094,2},{61,83}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,28},{61,83}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon4002.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,107},{49,99}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,24},{49,99}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon4003.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,2},{65,107}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,24},{65,107}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon4004.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,115},{71,109}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,21},{71,109}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon4005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,137},{87,113}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,15},{87,113}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon4006.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,137},{59,113}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,16},{59,113}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon4007.png</key>
            <dict>
                <key>frame</key>
                <string>{{417,2},{69,95}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,21},{69,95}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon4008.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,188},{65,79}}</string>
                <key>offset</key>
                <string>{1,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,20},{65,79}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon4009.png</key>
            <dict>
                <key>frame</key>
                <string>{{511,97},{51,93}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,20},{51,93}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon4010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1423,2},{51,73}}</string>
                <key>offset</key>
                <string>{-1,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,21},{51,73}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon4011.png</key>
            <dict>
                <key>frame</key>
                <string>{{863,2},{71,87}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,22},{71,87}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon4012.png</key>
            <dict>
                <key>frame</key>
                <string>{{990,89},{51,85}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,27},{51,85}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon4013.png</key>
            <dict>
                <key>frame</key>
                <string>{{1530,128},{67,67}}</string>
                <key>offset</key>
                <string>{-1,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,21},{67,67}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon4014.png</key>
            <dict>
                <key>frame</key>
                <string>{{1226,164},{69,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,29},{69,77}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon4015.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,2},{83,111}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,11},{83,111}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon4016.png</key>
            <dict>
                <key>frame</key>
                <string>{{1279,2},{67,75}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,27},{67,75}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon4017.png</key>
            <dict>
                <key>frame</key>
                <string>{{909,91},{79,85}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,21},{79,85}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon4018.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,111},{63,105}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,12},{63,105}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon4019.png</key>
            <dict>
                <key>frame</key>
                <string>{{1011,2},{81,83}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,21},{81,83}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon4020.png</key>
            <dict>
                <key>frame</key>
                <string>{{936,2},{73,85}}</string>
                <key>offset</key>
                <string>{1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,18},{73,85}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon4021.png</key>
            <dict>
                <key>frame</key>
                <string>{{1118,87},{77,79}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,24},{77,79}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon4022.png</key>
            <dict>
                <key>frame</key>
                <string>{{1074,172},{77,79}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,24},{77,79}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon4023.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,99},{81,93}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,22},{81,93}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon4024.png</key>
            <dict>
                <key>frame</key>
                <string>{{993,176},{77,79}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,22},{77,79}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon4025.png</key>
            <dict>
                <key>frame</key>
                <string>{{661,188},{73,65}}</string>
                <key>offset</key>
                <string>{1,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,22},{73,65}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon4026.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,208},{45,73}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,24},{45,73}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon4027.png</key>
            <dict>
                <key>frame</key>
                <string>{{509,194},{59,69}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,23},{59,69}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon4028.png</key>
            <dict>
                <key>frame</key>
                <string>{{1476,2},{67,69}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,28},{67,69}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon4029.png</key>
            <dict>
                <key>frame</key>
                <string>{{1043,87},{73,83}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,21},{73,83}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon4030.png</key>
            <dict>
                <key>frame</key>
                <string>{{793,91},{73,87}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,20},{73,87}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon4031.png</key>
            <dict>
                <key>frame</key>
                <string>{{709,2},{77,89}}</string>
                <key>offset</key>
                <string>{1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,17},{77,89}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon4032.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,93},{77,87}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,24},{77,87}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon4033.png</key>
            <dict>
                <key>frame</key>
                <string>{{1197,83},{71,79}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,18},{71,79}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon4034.png</key>
            <dict>
                <key>frame</key>
                <string>{{1153,168},{71,79}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,18},{71,79}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon4035.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,182},{71,87}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,23},{71,87}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon4036.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,2},{61,93}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,23},{61,93}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon4037.png</key>
            <dict>
                <key>frame</key>
                <string>{{1545,2},{65,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,33},{65,69}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon4038.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,226},{39,23}}</string>
                <key>offset</key>
                <string>{-1,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,41},{39,23}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon4039.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,2},{73,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,24},{73,87}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon4040.png</key>
            <dict>
                <key>frame</key>
                <string>{{1431,152},{41,73}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,22},{41,73}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon4041.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{133,133}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{133,133}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon4100.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,2},{49,103}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,22},{49,103}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon4101.png</key>
            <dict>
                <key>frame</key>
                <string>{{1157,2},{71,79}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,22},{71,79}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon4102.png</key>
            <dict>
                <key>frame</key>
                <string>{{1523,197},{45,65}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,28},{45,65}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon4103.png</key>
            <dict>
                <key>frame</key>
                <string>{{551,2},{81,91}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,19},{81,91}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon4104.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,178},{75,79}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,28},{75,79}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon4105.png</key>
            <dict>
                <key>frame</key>
                <string>{{639,95},{73,91}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,23},{73,91}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon4106.png</key>
            <dict>
                <key>frame</key>
                <string>{{1474,150},{47,63}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,43},{47,63}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon4107.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,198},{63,55}}</string>
                <key>offset</key>
                <string>{-3,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,28},{63,55}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon4108.png</key>
            <dict>
                <key>frame</key>
                <string>{{825,180},{73,85}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,24},{73,85}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon4109.png</key>
            <dict>
                <key>frame</key>
                <string>{{1230,2},{47,79}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,24},{47,79}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon4110.png</key>
            <dict>
                <key>frame</key>
                <string>{{1459,77},{69,71}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,26},{69,71}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon4111.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,2},{73,91}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,20},{73,91}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon4112.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,95},{73,91}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,20},{73,91}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon4113.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,101},{85,95}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,16},{85,95}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon4114.png</key>
            <dict>
                <key>frame</key>
                <string>{{1384,77},{73,73}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,27},{73,73}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon4115.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,2},{75,97}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,20},{75,97}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon4116.png</key>
            <dict>
                <key>frame</key>
                <string>{{1297,162},{57,75}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,32},{57,75}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon4117.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,91},{39,87}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,23},{39,87}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon4118.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,194},{59,77}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,22},{59,77}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon4119.png</key>
            <dict>
                <key>frame</key>
                <string>{{1356,156},{73,73}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,26},{73,73}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon4120.png</key>
            <dict>
                <key>frame</key>
                <string>{{1348,2},{73,73}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,26},{73,73}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon4121.png</key>
            <dict>
                <key>frame</key>
                <string>{{1333,79},{49,75}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,27},{49,75}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon4122.png</key>
            <dict>
                <key>frame</key>
                <string>{{1270,83},{61,77}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,29},{61,77}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon4123.png</key>
            <dict>
                <key>frame</key>
                <string>{{1530,73},{53,69}}</string>
                <key>offset</key>
                <string>{-7,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,34},{53,69}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>icon4-hd.pvr.ccz</string>
            <key>size</key>
            <string>{1612,255}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b8089f44d6b4bff4c2cb7cd026a8a44b$</string>
            <key>textureFileName</key>
            <string>icon4-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
