<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>icon5001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1244,2},{30,34}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,18},{30,34}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon5002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1170,2},{28,36}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,15},{28,36}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon5003.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,36},{24,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,16},{24,36}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon5004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{28,58}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,6},{28,58}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon5005.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,2},{30,48}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,9},{30,48}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon5006.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,2},{28,50}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,12},{28,50}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon5007.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,2},{34,48}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,11},{34,48}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon5008.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,2},{30,48}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,9},{30,48}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon5009.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,34},{26,46}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,14},{26,46}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon5010.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,2},{36,50}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,13},{36,50}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon5011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1280,2},{28,34}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,18},{28,34}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon5012.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,2},{36,50}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,13},{36,50}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon5013.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,34},{26,46}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,14},{26,46}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon5014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,32},{28,50}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,12},{28,50}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon5015.png</key>
            <dict>
                <key>frame</key>
                <string>{{934,34},{26,36}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,18},{26,36}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon5016.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,32},{26,46}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,14},{26,46}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon5017.png</key>
            <dict>
                <key>frame</key>
                <string>{{1206,34},{26,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,24},{26,20}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon5018.png</key>
            <dict>
                <key>frame</key>
                <string>{{1380,2},{28,20}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,25},{28,20}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon5019.png</key>
            <dict>
                <key>frame</key>
                <string>{{1336,34},{26,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,24},{26,20}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon5020.png</key>
            <dict>
                <key>frame</key>
                <string>{{1262,34},{26,16}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,25},{26,16}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon5021.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,38},{22,24}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,20},{22,24}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon5022.png</key>
            <dict>
                <key>frame</key>
                <string>{{1016,2},{38,30}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,23},{38,30}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon5023.png</key>
            <dict>
                <key>frame</key>
                <string>{{1308,32},{26,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,24},{26,20}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon5024.png</key>
            <dict>
                <key>frame</key>
                <string>{{1016,34},{32,26}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,20},{32,26}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon5025.png</key>
            <dict>
                <key>frame</key>
                <string>{{1280,32},{26,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,24},{26,20}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon5026.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,36},{24,32}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,20},{24,32}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon5027.png</key>
            <dict>
                <key>frame</key>
                <string>{{1132,34},{30,26}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,17},{30,26}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon5028.png</key>
            <dict>
                <key>frame</key>
                <string>{{1208,2},{34,30}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,22},{34,30}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon5029.png</key>
            <dict>
                <key>frame</key>
                <string>{{1080,36},{28,22}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,24},{28,22}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon5030.png</key>
            <dict>
                <key>frame</key>
                <string>{{1170,32},{34,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,20},{34,28}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon5031.png</key>
            <dict>
                <key>frame</key>
                <string>{{1380,32},{26,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,24},{26,20}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon5032.png</key>
            <dict>
                <key>frame</key>
                <string>{{1316,2},{32,28}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,21},{32,28}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon5033.png</key>
            <dict>
                <key>frame</key>
                <string>{{1050,36},{28,22}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,24},{28,22}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon5034.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,34},{36,26}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,19},{36,26}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon5035.png</key>
            <dict>
                <key>frame</key>
                <string>{{1132,2},{36,30}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,22},{36,30}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon5036.png</key>
            <dict>
                <key>frame</key>
                <string>{{972,38},{28,22}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,24},{28,22}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon5037.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,36},{22,36}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,17},{22,36}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon5038.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,38},{22,44}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,13},{22,44}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon5039.png</key>
            <dict>
                <key>frame</key>
                <string>{{976,2},{34,38}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,19},{34,38}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon5040.png</key>
            <dict>
                <key>frame</key>
                <string>{{1234,34},{26,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,25},{26,18}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon5100.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,40},{34,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,27},{34,14}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon5101.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,2},{24,46}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,14},{24,46}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon5102.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,2},{24,46}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,14},{24,46}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon5103.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,40},{30,20}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,25},{30,20}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon5104.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,40},{30,20}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,25},{30,20}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon5105.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,28},{42,32}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,22},{42,32}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon5106.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,2},{48,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,11},{48,46}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon5107.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,28},{42,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,18},{42,32}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon5108.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,34},{20,48}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,11},{20,48}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon5109.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,36},{36,24}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,19},{36,24}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon5110.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,2},{42,34}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,21},{42,34}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon5111.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,2},{46,30}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,17},{46,30}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon5112.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,2},{46,32}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,20},{46,32}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon5113.png</key>
            <dict>
                <key>frame</key>
                <string>{{1094,2},{36,32}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,16},{36,32}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon5114.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,2},{32,46}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,13},{32,46}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon5115.png</key>
            <dict>
                <key>frame</key>
                <string>{{1056,2},{36,32}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,16},{36,32}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon5116.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,36},{34,24}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,23},{34,24}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon5117.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,34},{40,26}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,22},{40,26}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon5118.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,38},{32,22}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,19},{32,22}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon5119.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,2},{40,32}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,17},{40,32}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon5120.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,2},{40,32}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,17},{40,32}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon5121.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,2},{30,44}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,16},{30,44}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon5122.png</key>
            <dict>
                <key>frame</key>
                <string>{{934,2},{30,40}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,17},{30,40}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon5123.png</key>
            <dict>
                <key>frame</key>
                <string>{{1350,2},{30,28}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,19},{30,28}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon5124.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,36},{32,24}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,16},{32,24}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon5125.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,2},{30,52}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,10},{30,52}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon5126.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,2},{32,46}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,14},{32,46}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>icon5.pvr.ccz</string>
            <key>size</key>
            <string>{1402,62}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8802510407490842ad6a03643fc44e62$</string>
            <key>textureFileName</key>
            <string>icon5.pvr.ccz</string>
        </dict>
    </dict>
</plist>
