<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>icon2001.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,64},{32,60}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,5},{32,60}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon2002.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,64},{30,60}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,5},{30,60}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon2003.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,2},{24,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,3},{24,62}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon2004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,70},{54,64}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,3},{54,64}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon2005.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,68},{50,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,6},{50,56}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon2006.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,2},{46,64}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,4},{46,64}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon2007.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,64},{48,60}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,6},{48,60}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon2008.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,2},{44,62}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,5},{44,62}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon2009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{46,66}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,2},{46,66}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon2010.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,62},{46,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,6},{46,56}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon2011.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,2},{54,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,3},{54,62}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon2012.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,2},{38,54}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,9},{38,54}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon2013.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,2},{32,60}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,6},{32,60}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon2014.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,2},{34,56}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,9},{34,56}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon2015.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,54},{34,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,9},{34,50}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon2016.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,2},{30,62}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,4},{30,62}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon2017.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,2},{36,56}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,10},{36,56}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon2018.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,64},{50,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,4},{50,60}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon2019.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,2},{38,52}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,11},{38,52}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon2020.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,2},{30,60}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,6},{30,60}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon2021.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,2},{26,58}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,6},{26,58}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon2022.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,2},{28,58}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,6},{28,58}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon2023.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,62},{26,58}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,8},{26,58}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon2024.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,60},{34,56}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,10},{34,56}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon2025.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,66},{36,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,5},{36,58}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon2026.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,100},{22,44}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,9},{22,44}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon2027.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,2},{48,60}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,5},{48,60}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon2028.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,2},{34,52}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,6},{34,52}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon2029.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,2},{50,60}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,5},{50,60}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon2030.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,54},{28,50}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,8},{28,50}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon2031.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,56},{36,52}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,9},{36,52}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon2032.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,66},{38,58}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,4},{38,58}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon2033.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,48},{34,44}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,14},{34,44}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon2034.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,64},{34,60}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,4},{34,60}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon2035.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,2},{34,60}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,6},{34,60}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon2036.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,2},{28,46}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,8},{28,46}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon2037.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,2},{28,50}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,10},{28,50}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon2038.png</key>
            <dict>
                <key>frame</key>
                <string>{{1002,48},{30,44}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,13},{30,44}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon2039.png</key>
            <dict>
                <key>frame</key>
                <string>{{956,2},{34,44}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,14},{34,44}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon2040.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,58},{32,54}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,10},{32,54}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon2041.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,66},{42,58}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,3},{42,58}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon2042.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,94},{30,44}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,13},{30,44}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon2043.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,2},{24,54}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,8},{24,54}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon2100.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,64},{54,60}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,6},{54,60}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon2101.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,60},{34,56}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,10},{34,56}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon2102.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,52},{34,46}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,8},{34,46}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon2103.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,2},{54,60}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,5},{54,60}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon2104.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,2},{26,48}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,14},{26,48}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon2105.png</key>
            <dict>
                <key>frame</key>
                <string>{{1034,2},{38,40}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,14},{38,40}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon2106.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,50},{26,46}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,12},{26,46}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon2107.png</key>
            <dict>
                <key>frame</key>
                <string>{{1034,82},{36,42}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,12},{36,42}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon2108.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,2},{34,50}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,10},{34,50}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon2109.png</key>
            <dict>
                <key>frame</key>
                <string>{{992,2},{30,44}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,15},{30,44}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon2110.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,66},{36,58}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,6},{36,58}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon2111.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,2},{38,56}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,5},{38,56}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon2112.png</key>
            <dict>
                <key>frame</key>
                <string>{{1034,44},{36,38}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,13},{36,38}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon2113.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,60},{38,54}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,8},{38,54}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon2114.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,56},{34,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,9},{34,50}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>icon2.pvr.ccz</string>
            <key>size</key>
            <string>{1074,126}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:094307592859734b73fbb27283386a4d$</string>
            <key>textureFileName</key>
            <string>icon2.pvr.ccz</string>
        </dict>
    </dict>
</plist>
