<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>icon2001.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,121},{61,115}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,13},{61,115}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon2002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1083,2},{57,117}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,11},{57,117}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon2003.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,2},{47,121}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,8},{47,121}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon2004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,131},{105,125}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,7},{105,125}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon2005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1197,2},{99,107}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,15},{99,107}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon2006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{91,127}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,7},{91,127}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon2007.png</key>
            <dict>
                <key>frame</key>
                <string>{{579,2},{93,119}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,12},{93,119}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon2008.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,2},{87,123}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,9},{87,123}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon2009.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,2},{87,127}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,7},{87,127}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon2010.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,125},{89,111}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,11},{89,111}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon2011.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,131},{105,121}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,8},{105,121}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon2012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1351,111},{75,105}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,19},{75,105}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon2013.png</key>
            <dict>
                <key>frame</key>
                <string>{{1018,2},{63,117}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,13},{63,117}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon2014.png</key>
            <dict>
                <key>frame</key>
                <string>{{1012,121},{67,111}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,18},{67,111}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon2015.png</key>
            <dict>
                <key>frame</key>
                <string>{{1564,103},{65,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,18},{65,99}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon2016.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,2},{59,123}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,8},{59,123}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon2017.png</key>
            <dict>
                <key>frame</key>
                <string>{{939,121},{71,111}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,19},{71,111}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon2018.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,2},{97,119}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,7},{97,119}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon2019.png</key>
            <dict>
                <key>frame</key>
                <string>{{1276,111},{73,107}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,17},{73,107}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon2020.png</key>
            <dict>
                <key>frame</key>
                <string>{{829,121},{57,115}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,15},{57,115}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon2021.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,121},{49,113}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,14},{49,113}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon2022.png</key>
            <dict>
                <key>frame</key>
                <string>{{1142,2},{53,117}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,14},{53,117}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon2023.png</key>
            <dict>
                <key>frame</key>
                <string>{{1148,121},{49,111}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,19},{49,111}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon2024.png</key>
            <dict>
                <key>frame</key>
                <string>{{1081,121},{65,111}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,19},{65,111}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon2025.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,123},{71,113}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,12},{71,113}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon2026.png</key>
            <dict>
                <key>frame</key>
                <string>{{1922,2},{41,85}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,19},{41,85}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon2027.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,2},{95,119}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,10},{95,119}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon2028.png</key>
            <dict>
                <key>frame</key>
                <string>{{1483,2},{65,103}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,12},{65,103}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon2029.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,2},{99,117}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,12},{99,117}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon2030.png</key>
            <dict>
                <key>frame</key>
                <string>{{1672,2},{53,97}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,17},{53,97}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon2031.png</key>
            <dict>
                <key>frame</key>
                <string>{{1493,107},{69,101}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,19},{69,101}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon2032.png</key>
            <dict>
                <key>frame</key>
                <string>{{547,123},{73,113}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,9},{73,113}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon2033.png</key>
            <dict>
                <key>frame</key>
                <string>{{1855,2},{65,85}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,30},{65,85}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon2034.png</key>
            <dict>
                <key>frame</key>
                <string>{{951,2},{65,117}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,10},{65,117}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon2035.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,2},{65,119}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,11},{65,119}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon2036.png</key>
            <dict>
                <key>frame</key>
                <string>{{1753,95},{55,89}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,18},{55,89}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon2037.png</key>
            <dict>
                <key>frame</key>
                <string>{{1617,2},{53,99}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,19},{53,99}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon2038.png</key>
            <dict>
                <key>frame</key>
                <string>{{1796,2},{57,87}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,26},{57,87}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon2039.png</key>
            <dict>
                <key>frame</key>
                <string>{{1810,91},{65,85}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,30},{65,85}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon2040.png</key>
            <dict>
                <key>frame</key>
                <string>{{1428,109},{63,105}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,21},{63,105}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon2041.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,123},{83,113}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,7},{83,113}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon2042.png</key>
            <dict>
                <key>frame</key>
                <string>{{1844,178},{59,83}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,29},{59,83}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon2043.png</key>
            <dict>
                <key>frame</key>
                <string>{{1436,2},{45,105}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,18},{45,105}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon2100.png</key>
            <dict>
                <key>frame</key>
                <string>{{741,2},{107,117}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,13},{107,117}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon2101.png</key>
            <dict>
                <key>frame</key>
                <string>{{1298,2},{63,107}}</string>
                <key>offset</key>
                <string>{-1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,23},{63,107}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon2102.png</key>
            <dict>
                <key>frame</key>
                <string>{{1727,2},{67,91}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,15},{67,91}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon2103.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,127},{107,117}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,12},{107,117}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon2104.png</key>
            <dict>
                <key>frame</key>
                <string>{{1700,101},{51,95}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,28},{51,95}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon2105.png</key>
            <dict>
                <key>frame</key>
                <string>{{1936,89},{73,77}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,29},{73,77}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon2106.png</key>
            <dict>
                <key>frame</key>
                <string>{{1753,186},{51,89}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,26},{51,89}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon2107.png</key>
            <dict>
                <key>frame</key>
                <string>{{1965,2},{67,79}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,27},{67,79}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon2108.png</key>
            <dict>
                <key>frame</key>
                <string>{{1550,2},{65,99}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,19},{65,99}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon2109.png</key>
            <dict>
                <key>frame</key>
                <string>{{1877,89},{57,85}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,31},{57,85}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon2110.png</key>
            <dict>
                <key>frame</key>
                <string>{{695,123},{69,113}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,14},{69,113}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon2111.png</key>
            <dict>
                <key>frame</key>
                <string>{{1199,111},{75,107}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,13},{75,107}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon2112.png</key>
            <dict>
                <key>frame</key>
                <string>{{1936,164},{69,75}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,26},{69,75}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon2113.png</key>
            <dict>
                <key>frame</key>
                <string>{{1363,2},{71,105}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,18},{71,105}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon2114.png</key>
            <dict>
                <key>frame</key>
                <string>{{1631,103},{67,97}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,20},{67,97}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>icon2-hd.pvr.ccz</string>
            <key>size</key>
            <string>{2034,239}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d6817aa1692a8248ec6a582dca06d85e$</string>
            <key>textureFileName</key>
            <string>icon2-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
