<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>icon5001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1643},{59,67}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,35},{59,67}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon5002.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,1117},{53,71}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,29},{53,71}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon5003.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,715},{47,69}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,34},{47,69}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon5004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{53,111}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,15},{53,111}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon5005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,504},{57,95}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,18},{57,95}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon5006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,175},{55,99}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,24},{55,99}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon5007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,378},{65,95}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,22},{65,95}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon5008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,445},{57,95}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,18},{57,95}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon5009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1043},{49,91}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,27},{49,91}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon5010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,305},{71,97}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,27},{71,97}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon5011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1704},{53,67}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,35},{53,67}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon5012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,232},{71,97}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,27},{71,97}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon5013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,992},{49,91}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,27},{49,91}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon5014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,116},{57,103}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,20},{57,103}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon5015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1590},{51,73}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,33},{51,73}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon5016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,941},{49,91}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,27},{49,91}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon5017.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,2002},{51,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,49},{51,37}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon5018.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,175},{53,39}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,49},{53,39}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon5019.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,1961},{51,39}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,49},{51,39}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon5020.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,1922},{51,37}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,48},{51,37}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon5021.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,1074},{41,45}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,42},{41,45}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon5022.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,1342},{73,59}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,45},{73,59}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon5023.png</key>
            <dict>
                <key>frame</key>
                <string>{{43,1961},{51,39}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,49},{51,39}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon5024.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,1616},{63,49}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,41},{63,49}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon5025.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1961},{51,39}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,49},{51,39}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon5026.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,786},{47,61}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,41},{47,61}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon5027.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1810},{59,51}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,35},{59,51}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon5028.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,1667},{67,57}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,45},{67,57}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon5029.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1918},{53,41}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,49},{53,41}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon5030.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,1563},{65,51}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,43},{65,51}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon5031.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,230},{51,39}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,49},{51,39}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon5032.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,1777},{61,57}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,40},{61,57}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon5033.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,567},{55,43}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,48},{55,43}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon5034.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1759},{67,49}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,40},{67,49}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon5035.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,1269},{71,57}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,47},{71,57}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon5036.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,1879},{55,41}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,49},{55,41}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon5037.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,496},{43,69}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,36},{43,69}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon5038.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,407},{43,87}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,25},{43,87}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon5039.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1523},{65,73}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,39},{65,73}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon5040.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,69},{51,35}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,49},{51,35}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon5100.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,2},{65,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,54},{65,27}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon5101.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,849},{45,89}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,29},{45,89}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon5102.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,624},{45,89}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,29},{45,89}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon5103.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,1836},{59,41}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,48},{59,41}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon5104.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,346},{59,41}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,48},{59,41}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon5105.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1222},{81,59}}</string>
                <key>offset</key>
                <string>{2,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,47},{81,59}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon5106.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,602},{93,89}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,24},{93,89}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon5107.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1283},{79,61}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,37},{79,61}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon5108.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,563},{37,95}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,22},{37,95}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon5109.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,940},{69,45}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,40},{69,45}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon5110.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1153},{81,67}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,42},{81,67}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon5111.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,882},{91,57}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,35},{91,57}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon5112.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,693},{91,61}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,41},{91,61}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon5113.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,1490},{71,61}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,34},{71,61}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon5114.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,819},{61,91}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,26},{61,91}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon5115.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,1417},{71,61}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,34},{71,61}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon5116.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,1726},{67,49}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,44},{67,49}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon5117.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1472},{77,49}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,45},{77,49}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon5118.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,283},{61,41}}</string>
                <key>offset</key>
                <string>{-1,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,39},{61,41}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon5119.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1409},{77,61}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,36},{77,61}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon5120.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1346},{77,61}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,36},{77,61}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon5121.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1094},{57,85}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,33},{57,85}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon5122.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,1190},{57,77}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,35},{57,77}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon5123.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1863},{57,53}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,40},{57,53}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon5124.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,1011},{61,45}}</string>
                <key>offset</key>
                <string>{-1,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,33},{61,45}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon5125.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,57},{57,103}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,20},{57,103}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon5126.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,756},{61,91}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,28},{61,91}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>icon5-hd.pvr.ccz</string>
            <key>size</key>
            <string>{144,2041}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e3f8618fc783a20f7e5bc92aa9268411$</string>
            <key>textureFileName</key>
            <string>icon5-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
