<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>icon1001.png</key>
            <dict>
                <key>frame</key>
                <string>{{837,289},{73,87}}</string>
                <key>offset</key>
                <string>{-2,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,14},{73,87}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon1002.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,309},{93,85}}</string>
                <key>offset</key>
                <string>{8,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,17},{93,85}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon1003.png</key>
            <dict>
                <key>frame</key>
                <string>{{839,378},{77,83}}</string>
                <key>offset</key>
                <string>{1,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,9},{77,83}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon1004.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,358},{71,81}}</string>
                <key>offset</key>
                <string>{-1,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,14},{71,81}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon1005.png</key>
            <dict>
                <key>frame</key>
                <string>{{979,2},{85,71}}</string>
                <key>offset</key>
                <string>{3,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,15},{85,71}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon1006.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,224},{73,103}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,13},{73,103}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon1007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1145,385},{69,67}}</string>
                <key>offset</key>
                <string>{-7,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,15},{69,67}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon1008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1082,154},{71,81}}</string>
                <key>offset</key>
                <string>{-1,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,14},{71,81}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon1009.png</key>
            <dict>
                <key>frame</key>
                <string>{{561,115},{73,111}}</string>
                <key>offset</key>
                <string>{-3,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,4},{73,111}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon1010.png</key>
            <dict>
                <key>frame</key>
                <string>{{809,2},{85,93}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,14},{85,93}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon1011.png</key>
            <dict>
                <key>frame</key>
                <string>{{991,344},{75,73}}</string>
                <key>offset</key>
                <string>{0,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,13},{75,73}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon1012.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,2},{81,87}}</string>
                <key>offset</key>
                <string>{-4,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,10},{81,87}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon1013.png</key>
            <dict>
                <key>frame</key>
                <string>{{1147,227},{77,73}}</string>
                <key>offset</key>
                <string>{-1,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,9},{77,73}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon1014.png</key>
            <dict>
                <key>frame</key>
                <string>{{665,329},{95,83}}</string>
                <key>offset</key>
                <string>{1,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,14},{95,83}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon1015.png</key>
            <dict>
                <key>frame</key>
                <string>{{1133,81},{71,81}}</string>
                <key>offset</key>
                <string>{-1,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,14},{71,81}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon1016.png</key>
            <dict>
                <key>frame</key>
                <string>{{989,263},{79,75}}</string>
                <key>offset</key>
                <string>{0,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,10},{79,75}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon1017.png</key>
            <dict>
                <key>frame</key>
                <string>{{1066,373},{71,77}}</string>
                <key>offset</key>
                <string>{-6,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,5},{71,77}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon1018.png</key>
            <dict>
                <key>frame</key>
                <string>{{853,97},{81,87}}</string>
                <key>offset</key>
                <string>{5,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,8},{81,87}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon1019.png</key>
            <dict>
                <key>frame</key>
                <string>{{1066,227},{79,71}}</string>
                <key>offset</key>
                <string>{-2,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,15},{79,71}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon1020.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,273},{75,83}}</string>
                <key>offset</key>
                <string>{-1,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,6},{75,83}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon1021.png</key>
            <dict>
                <key>frame</key>
                <string>{{1052,2},{79,81}}</string>
                <key>offset</key>
                <string>{-3,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,13},{79,81}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon1022.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,339},{105,83}}</string>
                <key>offset</key>
                <string>{3,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,11},{105,83}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon1023.png</key>
            <dict>
                <key>frame</key>
                <string>{{1066,300},{77,71}}</string>
                <key>offset</key>
                <string>{-4,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,11},{77,71}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon1024.png</key>
            <dict>
                <key>frame</key>
                <string>{{883,186},{85,83}}</string>
                <key>offset</key>
                <string>{-5,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,13},{85,83}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon1025.png</key>
            <dict>
                <key>frame</key>
                <string>{{1013,89},{83,67}}</string>
                <key>offset</key>
                <string>{4,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,16},{83,67}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon1026.png</key>
            <dict>
                <key>frame</key>
                <string>{{991,421},{77,69}}</string>
                <key>offset</key>
                <string>{-1,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,17},{77,69}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon1027.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,200},{81,87}}</string>
                <key>offset</key>
                <string>{5,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,8},{81,87}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon1028.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,377},{99,119}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,10},{99,119}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon1029.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,117},{71,113}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,11},{71,113}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon1030.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,254},{75,121}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,7},{75,121}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon1031.png</key>
            <dict>
                <key>frame</key>
                <string>{{665,426},{89,77}}</string>
                <key>offset</key>
                <string>{4,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,6},{89,77}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon1032.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,383},{105,119}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,9},{105,119}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon1033.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,127},{73,121}}</string>
                <key>offset</key>
                <string>{-2,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,14},{73,121}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon1034.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,250},{93,119}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,10},{93,119}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon1035.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,115},{69,107}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,16},{69,107}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon1036.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,379},{75,121}}</string>
                <key>offset</key>
                <string>{-6,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,14},{75,121}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon1037.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,2},{113,113}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,9},{113,113}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon1038.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,2},{81,123}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,5},{81,123}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon1039.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,361},{99,113}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,14},{99,113}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon1040.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,129},{91,123}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,7},{91,123}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon1041.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,2},{111,105}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,12},{111,105}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon1042.png</key>
            <dict>
                <key>frame</key>
                <string>{{577,228},{71,109}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,11},{71,109}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon1043.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,123},{77,115}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,14},{77,115}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon1044.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,256},{71,125}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,10},{71,125}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon1045.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,129},{71,125}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,5},{71,125}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon1046.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,123},{85,119}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,10},{85,119}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon1047.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,232},{81,111}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,13},{81,111}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon1048.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,244},{77,115}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,14},{77,115}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon1049.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,117},{77,113}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,10},{77,113}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon1050.png</key>
            <dict>
                <key>frame</key>
                <string>{{459,2},{73,113}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,9},{73,113}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon1051.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{77,125}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,6},{77,125}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon1052.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,2},{73,123}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,7},{73,123}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon1053.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,240},{93,113}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,11},{93,113}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon1054.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,254},{71,123}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,12},{71,123}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon1055.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,371},{101,117}}</string>
                <key>offset</key>
                <string>{7,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,13},{101,117}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon1056.png</key>
            <dict>
                <key>frame</key>
                <string>{{707,109},{71,101}}</string>
                <key>offset</key>
                <string>{4,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,23},{71,101}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon1057.png</key>
            <dict>
                <key>frame</key>
                <string>{{725,212},{73,95}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,17},{73,95}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon1100.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,103},{71,95}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,22},{71,95}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon1101.png</key>
            <dict>
                <key>frame</key>
                <string>{{491,355},{87,111}}</string>
                <key>offset</key>
                <string>{6,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,15},{87,111}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon1102.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,2},{81,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,18},{81,99}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon1103.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,404},{89,81}}</string>
                <key>offset</key>
                <string>{5,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,18},{89,81}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon1104.png</key>
            <dict>
                <key>frame</key>
                <string>{{1145,306},{71,77}}</string>
                <key>offset</key>
                <string>{5,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,10},{71,77}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon1105.png</key>
            <dict>
                <key>frame</key>
                <string>{{1133,2},{81,77}}</string>
                <key>offset</key>
                <string>{8,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,21},{81,77}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon1106.png</key>
            <dict>
                <key>frame</key>
                <string>{{936,91},{85,75}}</string>
                <key>offset</key>
                <string>{11,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,16},{85,75}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon1107.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,178},{83,67}}</string>
                <key>offset</key>
                <string>{12,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,20},{83,67}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon1108.png</key>
            <dict>
                <key>frame</key>
                <string>{{641,2},{105,83}}</string>
                <key>offset</key>
                <string>{8,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,19},{105,83}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon1109.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,2},{103,119}}</string>
                <key>offset</key>
                <string>{7,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,13},{103,119}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>icon1-hd.pvr.ccz</string>
            <key>size</key>
            <string>{1223,505}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:92b58eaacb0bac3bd26295558508ebb1$</string>
            <key>textureFileName</key>
            <string>icon1-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
