<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>icon8001.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,1141},{47,21}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,50},{47,21}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon8002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1118},{61,37}}</string>
                <key>offset</key>
                <string>{-1,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,40},{61,37}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon8003.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,1230},{29,27}}</string>
                <key>offset</key>
                <string>{-1,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,45},{29,27}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon8004.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,998},{33,29}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,47},{33,29}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon8005.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,722},{25,73}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,26},{25,73}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon8006.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,537},{65,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,59},{65,17}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon8007.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,797},{69,25}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,56},{69,25}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon8008.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,1167},{51,25}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,52},{51,25}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon8009.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,626},{73,59}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,40},{73,59}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon8010.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,604},{53,21}}</string>
                <key>offset</key>
                <string>{-5,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,55},{53,21}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon8011.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,964},{69,37}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,47},{69,37}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon8012.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,116},{49,31}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,47},{49,31}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon8013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,859},{73,41}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,53},{73,41}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon8014.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,1183},{45,17}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,60},{45,17}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon8015.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,1052},{47,61}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,36},{47,61}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon8016.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,1225},{43,29}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,48},{43,29}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon8017.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,895},{71,67}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,25},{71,67}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon8018.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,1231},{45,29}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,52},{45,29}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon8019.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,1101},{27,61}}</string>
                <key>offset</key>
                <string>{12,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,45},{27,61}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon8020.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,1211},{45,45}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,48},{45,45}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon8021.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,1130},{51,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,59},{51,17}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon8022.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,510},{19,25}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,46},{19,25}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon8023.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,1190},{39,39}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,44},{39,39}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon8024.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,659},{23,61}}</string>
                <key>offset</key>
                <string>{-4,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,26},{23,61}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon8025.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,1164},{45,45}}</string>
                <key>offset</key>
                <string>{-4,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,57},{45,45}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon8026.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,858},{35,73}}</string>
                <key>offset</key>
                <string>{1,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,16},{35,73}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon8027.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,494},{75,63}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,34},{75,63}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon8028.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,553},{71,73}}</string>
                <key>offset</key>
                <string>{-17,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,28},{71,73}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon8029.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,933},{63,27}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,51},{63,27}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon8030.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,79},{69,105}}</string>
                <key>offset</key>
                <string>{-3,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,20},{69,105}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon8031.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{109,103}}</string>
                <key>offset</key>
                <string>{1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,25},{109,103}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon8032.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,363},{81,39}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,43},{81,39}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon8033.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,550},{75,29}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,47},{75,29}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon8034.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,902},{63,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,33},{63,69}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon8035.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,2},{105,75}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,25},{105,75}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon8036.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,59},{55,31}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,42},{55,31}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon8037.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,864},{73,33}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,43},{73,33}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon8038.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,559},{75,25}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,51},{75,25}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon8039.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1208},{41,57}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,40},{41,57}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon8040.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1014},{67,53}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,44},{67,53}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon8041.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,510},{75,41}}</string>
                <key>offset</key>
                <string>{0,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,32},{75,41}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon8042.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,1092},{53,47}}</string>
                <key>offset</key>
                <string>{-3,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,37},{53,47}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon8043.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,495},{75,53}}</string>
                <key>offset</key>
                <string>{1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,34},{75,53}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon8044.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,967},{69,45}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,36},{69,45}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon8045.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,970},{67,55}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,40},{67,55}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon8046.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,1194},{43,29}}</string>
                <key>offset</key>
                <string>{-1,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,45},{43,29}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon8047.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,899},{69,69}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,28},{69,69}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon8048.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,418},{79,33}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,41},{79,33}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon8049.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,801},{73,55}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,37},{73,55}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon8050.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,756},{73,55}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,37},{73,55}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon8051.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,700},{73,55}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,37},{73,55}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon8052.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,744},{73,55}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,37},{73,55}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon8053.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,453},{75,55}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,37},{75,55}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon8054.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,699},{73,55}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,37},{73,55}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon8055.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,687},{73,55}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,37},{73,55}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon8056.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,643},{73,55}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,37},{73,55}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon8057.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,642},{73,55}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,37},{73,55}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon8058.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,586},{73,55}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,37},{73,55}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon8059.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,1027},{63,55}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,32},{63,55}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon8060.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,1129},{59,59}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,37},{59,59}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon8061.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1157},{57,49}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,42},{57,49}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon8062.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,581},{73,59}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,41},{73,59}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon8063.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,331},{85,71}}</string>
                <key>offset</key>
                <string>{2,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,45},{85,71}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon8064.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,424},{69,77}}</string>
                <key>offset</key>
                <string>{-1,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,44},{69,77}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon8065.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,868},{63,25}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,48},{63,25}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon8066.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,255},{89,29}}</string>
                <key>offset</key>
                <string>{-1,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,66},{89,29}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon8067.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,193},{93,77}}</string>
                <key>offset</key>
                <string>{-3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,34},{93,77}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon8068.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,1084},{61,43}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,40},{61,43}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon8100.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,404},{81,21}}</string>
                <key>offset</key>
                <string>{-1,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,47},{81,21}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon8101.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,2},{55,31}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,42},{55,31}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon8102.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,150},{97,41}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,41},{97,41}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon8103.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,1130},{51,35}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,41},{51,35}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon8104.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,813},{73,49}}</string>
                <key>offset</key>
                <string>{4,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,32},{73,49}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon8105.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,357},{81,65}}</string>
                <key>offset</key>
                <string>{-1,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,24},{81,65}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon8106.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,170},{83,95}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,22},{83,95}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon8107.png</key>
            <dict>
                <key>frame</key>
                <string>{{45,1208},{51,35}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,41},{51,35}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon8108.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,1003},{47,67}}</string>
                <key>offset</key>
                <string>{-1,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,23},{47,67}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon8109.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,167},{47,67}}</string>
                <key>offset</key>
                <string>{-1,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,23},{47,67}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon8110.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1069},{47,61}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,44},{47,61}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon8111.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,286},{75,85}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,25},{75,85}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon8112.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,236},{93,57}}</string>
                <key>offset</key>
                <string>{-12,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,40},{93,57}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon8113.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,808},{73,49}}</string>
                <key>offset</key>
                <string>{1,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,29},{73,49}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon8114.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,757},{73,49}}</string>
                <key>offset</key>
                <string>{1,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,29},{73,49}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon8115.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,1029},{61,41}}</string>
                <key>offset</key>
                <string>{0,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,32},{61,41}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon8116.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,272},{83,85}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,27},{83,85}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon8117.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,427},{65,77}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,30},{65,77}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon8118.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,107},{101,61}}</string>
                <key>offset</key>
                <string>{-1,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,26},{101,61}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>icon8-hd.pvr.ccz</string>
            <key>size</key>
            <string>{254,1267}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bf81a131dc9c426cf723c3986c4d9a53$</string>
            <key>textureFileName</key>
            <string>icon8-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
