<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>icon7001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,476},{42,42}}</string>
                <key>offset</key>
                <string>{3,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,20},{42,42}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon7002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,178},{40,54}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,9},{40,54}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon7003.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,56},{36,52}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,10},{36,52}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon7004.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,2},{36,52}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,10},{36,52}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon7005.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,154},{36,40}}</string>
                <key>offset</key>
                <string>{3,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,22},{36,40}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon7006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,62},{40,58}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,8},{40,58}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon7007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{40,58}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,8},{40,58}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon7008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,564},{40,40}}</string>
                <key>offset</key>
                <string>{4,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,22},{40,40}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon7009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,520},{40,42}}</string>
                <key>offset</key>
                <string>{4,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,20},{40,42}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon7010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,122},{40,54}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,8},{40,54}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon7011.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,414},{38,30}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,17},{38,30}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon7012.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,810},{40,30}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,17},{40,30}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon7013.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,410},{40,34}}</string>
                <key>offset</key>
                <string>{3,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,13},{40,34}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon7014.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,778},{40,30}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,17},{40,30}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon7015.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,746},{40,30}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,17},{40,30}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon7016.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,714},{40,30}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,18},{40,30}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon7017.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,682},{40,30}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,17},{40,30}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon7018.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,640},{40,28}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,18},{40,28}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon7019.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,368},{40,34}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,15},{40,34}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon7020.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,520},{40,32}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,15},{40,32}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon7021.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,344},{40,36}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,14},{40,36}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon7022.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,486},{40,32}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,18},{40,32}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon7023.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,382},{38,30}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,17},{38,30}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon7024.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,326},{40,34}}</string>
                <key>offset</key>
                <string>{3,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,13},{40,34}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon7025.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,650},{40,30}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,17},{40,30}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon7026.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,608},{40,30}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,17},{40,30}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon7027.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,830},{40,30}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,17},{40,30}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon7028.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,196},{40,36}}</string>
                <key>offset</key>
                <string>{3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,11},{40,36}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon7029.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,862},{40,28}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,18},{40,28}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon7030.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,240},{42,34}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,16},{42,34}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon7031.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,798},{40,30}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,17},{40,30}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon7032.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,62},{44,38}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,10},{44,38}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon7033.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,766},{40,30}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,17},{40,30}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon7034.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,108},{38,42}}</string>
                <key>offset</key>
                <string>{3,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,20},{38,42}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon7035.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,490},{42,32}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,15},{42,32}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon7036.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,734},{40,30}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,17},{40,30}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon7037.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,284},{40,34}}</string>
                <key>offset</key>
                <string>{3,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,13},{40,34}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon7038.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,702},{40,30}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,17},{40,30}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon7039.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,670},{40,30}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,17},{40,30}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon7040.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,446},{42,32}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,15},{42,32}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon7041.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,554},{40,30}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,17},{40,30}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon7042.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,650},{42,30}}</string>
                <key>offset</key>
                <string>{5,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,18},{42,30}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon7043.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,312},{38,30}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,17},{38,30}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon7044.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,608},{40,30}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,17},{40,30}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon7045.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,576},{40,30}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,17},{40,30}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon7046.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,606},{42,32}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,18},{42,32}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon7047.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,534},{40,30}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,17},{40,30}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon7048.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,842},{38,28}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,18},{38,28}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon7049.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,152},{42,38}}</string>
                <key>offset</key>
                <string>{2,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,9},{42,38}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon7050.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,196},{42,34}}</string>
                <key>offset</key>
                <string>{2,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,13},{42,34}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon7051.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,820},{40,30}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,17},{40,30}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon7052.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,778},{40,30}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,17},{40,30}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon7053.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,736},{40,30}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,17},{40,30}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon7054.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,452},{40,32}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,15},{40,32}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon7055.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,694},{40,30}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,17},{40,30}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon7056.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,110},{42,36}}</string>
                <key>offset</key>
                <string>{2,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,11},{42,36}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon7057.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,340},{40,46}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,16},{40,46}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon7058.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,234},{38,40}}</string>
                <key>offset</key>
                <string>{3,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,22},{38,40}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon7059.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,2},{38,58}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,4},{38,58}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon7060.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,234},{42,54}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,8},{42,54}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon7100.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,432},{42,42}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,13},{42,42}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon7101.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,276},{38,34}}</string>
                <key>offset</key>
                <string>{3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,12},{38,34}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon7102.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,388},{42,42}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,13},{42,42}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon7103.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,862},{38,28}}</string>
                <key>offset</key>
                <string>{3,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,34},{38,28}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon7104.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,290},{42,48}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,13},{42,48}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>icon7.pvr.ccz</string>
            <key>size</key>
            <string>{122,893}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cfb6a63a74d583c0a6a4c124a5487a4f$</string>
            <key>textureFileName</key>
            <string>icon7.pvr.ccz</string>
        </dict>
    </dict>
</plist>
