<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>icon3001.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,2},{69,121}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,11},{69,121}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon3002.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,2},{67,107}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,17},{67,107}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon3003.png</key>
            <dict>
                <key>frame</key>
                <string>{{863,87},{61,93}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,23},{61,93}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon3004.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,2},{65,109}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,21},{65,109}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon3005.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,73},{67,95}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,21},{67,95}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon3006.png</key>
            <dict>
                <key>frame</key>
                <string>{{553,2},{71,105}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,18},{71,105}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon3007.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,73},{63,49}}</string>
                <key>offset</key>
                <string>{0,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,27},{63,49}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon3008.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,73},{73,67}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,25},{73,67}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon3009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{95,111}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,15},{95,111}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon3010.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,142},{83,79}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,23},{83,79}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon3011.png</key>
            <dict>
                <key>frame</key>
                <string>{{759,83},{61,49}}</string>
                <key>offset</key>
                <string>{0,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,24},{61,49}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon3012.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,142},{75,83}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,22},{75,83}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon3013.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,2},{87,83}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,22},{87,83}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon3014.png</key>
            <dict>
                <key>frame</key>
                <string>{{765,2},{79,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,20},{79,95}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon3015.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,144},{65,81}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,24},{65,81}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon3016.png</key>
            <dict>
                <key>frame</key>
                <string>{{615,75},{91,65}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,26},{91,65}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon3017.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,142},{75,83}}</string>
                <key>offset</key>
                <string>{-1,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,17},{75,83}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon3100.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,69},{73,81}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,24},{73,81}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon3101.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,115},{91,95}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,23},{91,95}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon3102.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,75},{67,89}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,22},{67,89}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon3103.png</key>
            <dict>
                <key>frame</key>
                <string>{{723,138},{65,87}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,18},{65,87}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon3104.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,2},{69,103}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,18},{69,103}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon3105.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,144},{79,81}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,26},{79,81}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon3106.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,144},{71,81}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,22},{71,81}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon3107.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,71},{69,89}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,23},{69,89}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon3108.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,142},{71,95}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,21},{71,95}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon3109.png</key>
            <dict>
                <key>frame</key>
                <string>{{551,144},{73,79}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,26},{73,79}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon3110.png</key>
            <dict>
                <key>frame</key>
                <string>{{445,67},{75,77}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,24},{75,77}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon3111.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,2},{63,109}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,12},{63,109}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon3112.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,87},{63,91}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,19},{63,91}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon3113.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,134},{71,91}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,24},{71,91}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>icon3-hd.pvr.ccz</string>
            <key>size</key>
            <string>{991,227}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f8a81b2c12d126229b875f2875d47081$</string>
            <key>textureFileName</key>
            <string>icon3-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
