<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>icon7001.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,399},{79,83}}</string>
                <key>offset</key>
                <string>{7,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,40},{79,83}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon7002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,160},{81,107}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,18},{81,107}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon7003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,243},{71,103}}</string>
                <key>offset</key>
                <string>{5,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,20},{71,103}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon7004.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,249},{69,101}}</string>
                <key>offset</key>
                <string>{6,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,22},{69,101}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon7005.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,644},{71,79}}</string>
                <key>offset</key>
                <string>{5,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,44},{71,79}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon7006.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,2},{81,113}}</string>
                <key>offset</key>
                <string>{3,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,18},{81,113}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon7007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{81,113}}</string>
                <key>offset</key>
                <string>{3,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,18},{81,113}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon7008.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,565},{77,79}}</string>
                <key>offset</key>
                <string>{8,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,44},{77,79}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon7009.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,482},{77,81}}</string>
                <key>offset</key>
                <string>{8,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,42},{77,81}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon7010.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,170},{77,105}}</string>
                <key>offset</key>
                <string>{8,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,18},{77,105}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon7011.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,1504},{75,55}}</string>
                <key>offset</key>
                <string>{6,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,37},{75,55}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon7012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1374},{77,55}}</string>
                <key>offset</key>
                <string>{7,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,37},{77,55}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon7013.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,961},{77,63}}</string>
                <key>offset</key>
                <string>{7,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,29},{77,63}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon7014.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,1372},{77,55}}</string>
                <key>offset</key>
                <string>{7,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,37},{77,55}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon7015.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,786},{79,55}}</string>
                <key>offset</key>
                <string>{8,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,37},{79,55}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon7016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1087},{77,57}}</string>
                <key>offset</key>
                <string>{7,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,37},{77,57}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon7017.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,1325},{77,55}}</string>
                <key>offset</key>
                <string>{7,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,37},{77,55}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon7018.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,1382},{77,53}}</string>
                <key>offset</key>
                <string>{7,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,37},{77,53}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon7019.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,910},{77,63}}</string>
                <key>offset</key>
                <string>{7,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,33},{77,63}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon7020.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,975},{77,61}}</string>
                <key>offset</key>
                <string>{7,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,31},{77,61}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon7021.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,827},{77,71}}</string>
                <key>offset</key>
                <string>{7,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,28},{77,71}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon7022.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,900},{77,63}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,36},{77,63}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon7023.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1504},{75,55}}</string>
                <key>offset</key>
                <string>{6,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,37},{75,55}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon7024.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,827},{77,67}}</string>
                <key>offset</key>
                <string>{7,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,26},{77,67}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon7025.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1317},{77,55}}</string>
                <key>offset</key>
                <string>{7,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,37},{77,55}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon7026.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,1038},{77,57}}</string>
                <key>offset</key>
                <string>{7,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,36},{77,57}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon7027.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,1315},{77,55}}</string>
                <key>offset</key>
                <string>{7,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,37},{77,55}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon7028.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,717},{79,67}}</string>
                <key>offset</key>
                <string>{6,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,25},{79,67}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon7029.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,1268},{77,55}}</string>
                <key>offset</key>
                <string>{7,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,36},{77,55}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon7030.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,632},{81,67}}</string>
                <key>offset</key>
                <string>{5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,31},{81,67}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon7031.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1028},{77,57}}</string>
                <key>offset</key>
                <string>{7,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,35},{77,57}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon7032.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,399},{85,75}}</string>
                <key>offset</key>
                <string>{3,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,20},{85,75}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon7033.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1260},{77,55}}</string>
                <key>offset</key>
                <string>{7,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,37},{77,55}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon7034.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,399},{73,81}}</string>
                <key>offset</key>
                <string>{6,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,42},{73,81}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon7035.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,764},{81,61}}</string>
                <key>offset</key>
                <string>{5,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,31},{81,61}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon7036.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,1258},{77,55}}</string>
                <key>offset</key>
                <string>{7,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,37},{77,55}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon7037.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,843},{77,65}}</string>
                <key>offset</key>
                <string>{7,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,27},{77,65}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon7038.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,320},{77,57}}</string>
                <key>offset</key>
                <string>{7,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,36},{77,57}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon7039.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,1211},{77,55}}</string>
                <key>offset</key>
                <string>{7,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,37},{77,55}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon7040.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,701},{81,63}}</string>
                <key>offset</key>
                <string>{7,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,30},{81,63}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon7041.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1203},{77,55}}</string>
                <key>offset</key>
                <string>{7,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,37},{77,55}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon7042.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,766},{81,59}}</string>
                <key>offset</key>
                <string>{10,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,36},{81,59}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon7043.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1431},{73,57}}</string>
                <key>offset</key>
                <string>{4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,35},{73,57}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon7044.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,1201},{77,55}}</string>
                <key>offset</key>
                <string>{7,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,37},{77,55}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon7045.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,1154},{77,55}}</string>
                <key>offset</key>
                <string>{7,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,37},{77,55}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon7046.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,701},{81,61}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,37},{81,61}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon7047.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,1026},{77,59}}</string>
                <key>offset</key>
                <string>{7,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,33},{77,59}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon7048.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,1437},{73,53}}</string>
                <key>offset</key>
                <string>{6,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,37},{73,53}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon7049.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,476},{83,71}}</string>
                <key>offset</key>
                <string>{4,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,21},{83,71}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon7050.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,634},{81,65}}</string>
                <key>offset</key>
                <string>{5,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,27},{81,65}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon7051.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1146},{77,55}}</string>
                <key>offset</key>
                <string>{7,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,37},{77,55}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon7052.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,1144},{77,55}}</string>
                <key>offset</key>
                <string>{7,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,37},{77,55}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon7053.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,1097},{77,55}}</string>
                <key>offset</key>
                <string>{7,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,37},{77,55}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon7054.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,965},{77,61}}</string>
                <key>offset</key>
                <string>{7,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,31},{77,61}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon7055.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,1087},{77,55}}</string>
                <key>offset</key>
                <string>{7,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,37},{77,55}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon7056.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,563},{81,69}}</string>
                <key>offset</key>
                <string>{5,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,23},{81,69}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon7057.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,320},{77,91}}</string>
                <key>offset</key>
                <string>{4,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,32},{77,91}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon7058.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,1429},{73,75}}</string>
                <key>offset</key>
                <string>{6,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,47},{73,75}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon7059.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,85},{73,113}}</string>
                <key>offset</key>
                <string>{6,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,10},{73,113}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon7060.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,85},{83,107}}</string>
                <key>offset</key>
                <string>{7,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,16},{83,107}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon7100.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,549},{81,81}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,27},{81,81}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon7101.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,896},{77,63}}</string>
                <key>offset</key>
                <string>{7,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,27},{77,63}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon7102.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,480},{81,81}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,27},{81,81}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon7103.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,1504},{73,53}}</string>
                <key>offset</key>
                <string>{7,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,69},{73,53}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>icon7104.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,316},{81,93}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,27},{81,93}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>icon7-hd.pvr.ccz</string>
            <key>size</key>
            <string>{249,1561}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f5ba1099b55fc735adde5d641639e3ea$</string>
            <key>textureFileName</key>
            <string>icon7-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
