<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>icon4001.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,92},{32,42}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,14},{32,42}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon4002.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,54},{26,50}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,12},{26,50}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon4003.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,60},{34,54}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,12},{34,54}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon4004.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,2},{36,56}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,10},{36,56}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon4005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{46,58}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,7},{46,58}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon4006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,62},{32,58}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,7},{32,58}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon4007.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,2},{36,50}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,9},{36,50}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon4008.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,44},{34,40}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,10},{34,40}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon4009.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,2},{26,48}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,9},{26,48}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon4010.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,42},{26,38}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,10},{26,38}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon4011.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,2},{36,44}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,11},{36,44}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon4012.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,96},{28,44}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,13},{28,44}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon4013.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,2},{36,34}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,11},{36,34}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon4014.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,2},{36,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,14},{36,40}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon4015.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,62},{42,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,6},{42,56}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon4016.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,84},{34,38}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,14},{34,38}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon4017.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,2},{40,44}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,10},{40,44}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon4018.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,2},{32,54}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,5},{32,54}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon4019.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,48},{42,42}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,11},{42,42}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon4020.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,2},{38,44}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,8},{38,44}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon4021.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,44},{40,40}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,12},{40,40}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon4022.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,2},{40,40}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,12},{40,40}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon4023.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,52},{42,48}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,10},{42,48}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon4024.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,46},{40,40}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,11},{40,40}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon4025.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,2},{38,32}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,12},{38,32}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon4026.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,2},{24,38}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,11},{24,38}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon4027.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,94},{30,34}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,13},{30,34}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon4028.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,2},{34,36}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,13},{34,36}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon4029.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,2},{38,42}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,11},{38,42}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon4030.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,48},{38,44}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,10},{38,44}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon4031.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,2},{40,46}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,8},{40,46}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon4032.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,50},{40,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,12},{40,44}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon4033.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,44},{36,40}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,9},{36,40}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon4034.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,88},{36,40}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,9},{36,40}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon4035.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,48},{36,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,12},{36,44}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon4036.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,52},{32,48}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,11},{32,48}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon4037.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,42},{34,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,16},{34,36}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon4038.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,112},{20,12}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,21},{20,12}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon4039.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,2},{38,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,12},{38,44}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon4040.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,102},{22,38}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,10},{22,38}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon4041.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,2},{50,40}}</string>
                <key>offset</key>
                <string>{-9,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,40}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon4100.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,58},{26,52}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,11},{26,52}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon4101.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,86},{38,40}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,11},{38,40}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon4102.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,80},{24,34}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,13},{24,34}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon4103.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,52},{42,46}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,10},{42,46}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon4104.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,2},{38,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,14},{38,40}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon4105.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,2},{38,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,10},{38,48}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon4106.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,98},{24,32}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,22},{24,32}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon4107.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,68},{32,28}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,14},{32,28}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon4108.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,48},{38,44}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,11},{38,44}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon4109.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,100},{24,40}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,11},{24,40}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon4110.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,82},{36,36}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,13},{36,36}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon4111.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,2},{38,46}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,10},{38,46}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon4112.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,50},{38,46}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,10},{38,46}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon4113.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,2},{44,48}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,8},{44,48}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon4114.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,44},{38,36}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,15},{38,36}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon4115.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,54},{38,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,9},{38,50}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon4116.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,94},{30,38}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,16},{30,38}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon4117.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,102},{20,46}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,10},{20,46}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon4118.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,94},{30,40}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,10},{30,40}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon4119.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,86},{38,38}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,12},{38,38}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon4120.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,86},{38,38}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,12},{38,38}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon4121.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,98},{26,38}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,14},{26,38}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon4122.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,2},{32,40}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,14},{32,40}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon4123.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,38},{28,36}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,16},{28,36}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>icon4.pvr.ccz</string>
            <key>size</key>
            <string>{888,126}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:73cdb410af3cd1a641974f0ca7fc8aa2$</string>
            <key>textureFileName</key>
            <string>icon4.pvr.ccz</string>
        </dict>
    </dict>
</plist>
