<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>icon8001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1560},{24,12}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,24},{24,12}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon8002.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,692},{32,20}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,19},{32,20}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon8003.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,1354},{16,16}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,21},{16,16}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon8004.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,1256},{18,16}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,23},{18,16}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon8005.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,1276},{14,38}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,12},{14,38}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon8006.png</key>
            <dict>
                <key>frame</key>
                <string>{{18,1520},{34,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,29},{34,10}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon8007.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,1316},{36,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,27},{36,14}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon8008.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,1480},{26,14}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,25},{26,14}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon8009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1346},{38,30}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,20},{38,30}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon8010.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,218},{28,12}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,27},{28,12}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon8011.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,654},{36,20}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,23},{36,20}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon8012.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,822},{26,18}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,22},{26,18}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon8013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1412},{38,22}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,26},{38,22}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon8014.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,1404},{24,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,29},{24,10}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon8015.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,448},{24,32}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,17},{24,32}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon8016.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,1232},{22,16}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,23},{22,16}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon8017.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,818},{36,36}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,11},{36,36}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon8018.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,1182},{24,16}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,25},{24,16}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon8019.png</key>
            <dict>
                <key>frame</key>
                <string>{{26,1432},{14,32}}</string>
                <key>offset</key>
                <string>{6,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,22},{14,32}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon8020.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,1378},{24,24}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,23},{24,24}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon8021.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,1516},{26,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,29},{26,10}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon8022.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,596},{10,14}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,22},{10,14}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon8023.png</key>
            <dict>
                <key>frame</key>
                <string>{{16,1560},{20,20}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,22},{20,20}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon8024.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,184},{12,32}}</string>
                <key>offset</key>
                <string>{-2,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,12},{12,32}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon8025.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,482},{24,24}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,28},{24,24}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon8026.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,612},{18,38}}</string>
                <key>offset</key>
                <string>{1,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,7},{18,38}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon8027.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,856},{38,32}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,17},{38,32}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon8028.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,740},{36,38}}</string>
                <key>offset</key>
                <string>{-8,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,13},{36,38}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon8029.png</key>
            <dict>
                <key>frame</key>
                <string>{{26,1480},{34,14}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,26},{34,14}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon8030.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,98},{36,54}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,9},{36,54}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon8031.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{56,54}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,11},{56,54}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon8032.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,856},{42,22}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,20},{42,22}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon8033.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,556},{38,16}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,23},{38,16}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon8034.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,896},{32,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,16},{32,36}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon8035.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,58},{54,38}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,13},{54,38}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon8036.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,1152},{28,16}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,21},{28,16}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon8037.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,726},{38,18}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,21},{38,18}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon8038.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1520},{38,14}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,25},{38,14}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon8039.png</key>
            <dict>
                <key>frame</key>
                <string>{{26,1448},{22,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,19},{22,30}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon8040.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1052},{34,28}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,21},{34,28}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon8041.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,900},{38,22}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,15},{38,22}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon8042.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,1092},{28,26}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,17},{28,26}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon8043.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,934},{40,28}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,16},{40,28}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon8044.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,304},{36,24}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,17},{36,24}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon8045.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1016},{34,28}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,20},{34,28}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon8046.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,1208},{22,16}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,22},{22,16}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon8047.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,780},{36,36}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,13},{36,36}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon8048.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,98},{40,18}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,20},{40,18}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon8049.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1314},{38,30}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,17},{38,30}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon8050.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1282},{38,30}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,17},{38,30}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon8051.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1250},{38,30}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,17},{38,30}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon8052.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1218},{38,30}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,17},{38,30}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon8053.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1186},{38,30}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,17},{38,30}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon8054.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1154},{38,30}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,17},{38,30}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon8055.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1122},{38,30}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,17},{38,30}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon8056.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,480},{38,30}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,17},{38,30}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon8057.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,440},{38,30}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,17},{38,30}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon8058.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,400},{38,30}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,17},{38,30}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon8059.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1088},{32,28}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,16},{32,28}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon8060.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1378},{30,32}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,17},{30,32}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon8061.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,1060},{30,26}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,20},{30,26}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon8062.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,976},{38,28}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,20},{38,28}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon8063.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,354},{44,30}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,22},{44,30}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon8064.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,612},{36,40}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,21},{36,40}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon8065.png</key>
            <dict>
                <key>frame</key>
                <string>{{26,1416},{32,14}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,23},{32,14}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon8066.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,508},{46,16}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,32},{46,16}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon8067.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,566},{44,38}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,17},{44,38}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon8068.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1486},{32,22}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,20},{32,22}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon8100.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,140},{42,12}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,23},{42,12}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon8101.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,1122},{28,16}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,21},{28,16}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon8102.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,250},{50,22}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,20},{50,22}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon8103.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,794},{26,18}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,21},{26,18}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon8104.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,1020},{38,26}}</string>
                <key>offset</key>
                <string>{2,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,15},{38,26}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon8105.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,654},{42,34}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,11},{42,34}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon8106.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,154},{42,48}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,11},{42,48}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon8107.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,766},{26,18}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,21},{26,18}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon8108.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,378},{24,34}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,12},{24,34}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon8109.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,342},{24,34}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,12},{24,34}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon8110.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,414},{24,32}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,21},{24,32}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon8111.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,520},{38,44}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,12},{38,44}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon8112.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,304},{48,30}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,19},{48,30}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon8113.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,980},{38,26}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,14},{38,26}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon8114.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,940},{38,26}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,14},{38,26}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon8115.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1452},{32,22}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,15},{32,22}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon8116.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,204},{42,44}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,13},{42,44}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon8117.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,698},{34,40}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,14},{34,40}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>icon8118.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,250},{52,32}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,12},{52,32}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>icon8.pvr.ccz</string>
            <key>size</key>
            <string>{60,1586}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3cfee7eae8b17cf894a7cb293a9655c8$</string>
            <key>textureFileName</key>
            <string>icon8.pvr.ccz</string>
        </dict>
    </dict>
</plist>
