<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>i500.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1604},{640,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,176}}</string>
                <key>sourceSize</key>
                <string>{640,176}</string>
            </dict>
            <key>i501.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1426},{640,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,176}}</string>
                <key>sourceSize</key>
                <string>{640,176}</string>
            </dict>
            <key>i502.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1248},{640,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,176}}</string>
                <key>sourceSize</key>
                <string>{640,176}</string>
            </dict>
            <key>i503.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1070},{640,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,176}}</string>
                <key>sourceSize</key>
                <string>{640,176}</string>
            </dict>
            <key>i504.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,892},{640,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,176}}</string>
                <key>sourceSize</key>
                <string>{640,176}</string>
            </dict>
            <key>i505.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,714},{640,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,176}}</string>
                <key>sourceSize</key>
                <string>{640,176}</string>
            </dict>
            <key>i506.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,536},{640,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,176}}</string>
                <key>sourceSize</key>
                <string>{640,176}</string>
            </dict>
            <key>i507.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,358},{640,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,176}}</string>
                <key>sourceSize</key>
                <string>{640,176}</string>
            </dict>
            <key>i508.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,180},{640,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,176}}</string>
                <key>sourceSize</key>
                <string>{640,176}</string>
            </dict>
            <key>i509.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{640,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,176}}</string>
                <key>sourceSize</key>
                <string>{640,176}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>iphone5Add.pvr.ccz</string>
            <key>size</key>
            <string>{644,1782}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:893bdf7a7d51028c1034492b7279e3b9$</string>
            <key>textureFileName</key>
            <string>iphone5Add.pvr.ccz</string>
        </dict>
    </dict>
</plist>
