<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"/>

<plist version="1.0">
    <dict>
        <key>S</key>
        <dict>
            <key>1</key>
            <string>回头率百分之一百！</string>
            <key>2</key>
            <string>这搭配简直跟五花肉一样完美。</string>
            <key>3</key>
            <string>哦不，这不是真的，暖暖已经不是大喵认识的暖暖了！</string>
            <key>4</key>
            <string>果然没有辜负我平时对你的栽培。</string>
            <key>5</key>
            <string>今天是月圆之夜吗，你的审美力量怎么升级了！</string>
            <key>6</key>
            <string>不错，应该可以吸引不少美男。恭喜你，恋爱问题即将解决！</string>
            <key>7</key>
            <string>咦，你是看了什么时尚杂志了吗，居然完美了。</string>
            <key>8</key>
            <string>啧，难得看见你这么得体，连我都想跟你出去转转了。</string>
        </dict>
        <key>A</key>
        <dict>
            <key>1</key>
            <string>不错嘛。</string>
            <key>2</key>
            <string>矮油就是嘛，穿成这样的话我才有和你出去散步的兴趣。</string>
            <key>3</key>
            <string>比平均水平略高一点，算你超常发挥吧，赏你一小片五花肉。</string>
            <key>4</key>
            <string>嗯，差不多可以去解决恋爱问题了，不过小心输给美女哟。</string>
            <key>5</key>
            <string>啧啧，这身打扮有点不忍心让你去给我买五花肉了。</string>
            <key>6</key>
            <string>不知道姐姐会不会吐槽你诶，反正我是不会嫌弃你的。</string>
            <key>7</key>
            <string>啊欧，是不是最近逛了下服装店出现了些许觉悟？</string>
            <key>8</key>
            <string>你应该感到高兴，这已经超出你的正常水平了！</string>
        </dict>
        <key>B</key>
        <dict>
            <key>1</key>
            <string>审美这道硬伤终于开始愈合了！</string>
            <key>2</key>
            <string>马马虎虎，就凑合着看吧。</string>
            <key>3</key>
            <string>不能因为一点点进步就自高自傲啊~</string>
            <key>4</key>
            <string>总觉得还有点违和，可如果是暖暖的话那不是很正常的事吗？</string>
            <key>5</key>
            <string>这么普通的搭配一定会被姐姐嫌弃的。</string>
            <key>6</key>
            <string>这身衣服去买五花肉正合适，干其它的话一定会被比下去的。</string>
            <key>7</key>
            <string>你就这点水平，差不多啦~</string>
            <key>8</key>
            <string>这样穿的话我在人群里一定认不出你。</string>
        </dict>
        <key>F</key>
        <dict>
            <key>1</key>
            <string>我觉得还是光着身子比较适合你。</string>
            <key>2</key>
            <string>没有让你给我搭配衣服是我这辈子最幸运的事。</string>
            <key>3</key>
            <string>审美与众不同真的不是你的错。</string>
            <key>4</key>
            <string>你真的要穿成这样出门吗？不要把我带出去，太丢人了……</string>
            <key>5</key>
            <string>哦漏，一定是我的起床方式不对，这个时候该回去再睡一觉。</string>
            <key>6</key>
            <string>快去跟服装设计师住几天，说不定你的审美会改变的。</string>
            <key>7</key>
            <string>原来除了五音不全你还有审美这道硬伤……</string>
            <key>8</key>
            <string>我就是来嘲笑你的。</string>
        </dict>
    </dict>
</plist>
