<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>selected_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,1108},{24,22}}</string>
                <key>offset</key>
                <string>{22,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,67},{24,22}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>selected_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,914},{36,52}}</string>
                <key>offset</key>
                <string>{35,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{117,48},{36,52}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>selected_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,874},{38,54}}</string>
                <key>offset</key>
                <string>{36,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{117,45},{38,54}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>selected_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,772},{48,56}}</string>
                <key>offset</key>
                <string>{34,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{110,42},{48,56}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>selected_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,822},{50,54}}</string>
                <key>offset</key>
                <string>{36,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{111,42},{50,54}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>selected_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,720},{50,56}}</string>
                <key>offset</key>
                <string>{38,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{113,40},{50,56}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>selected_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,664},{54,56}}</string>
                <key>offset</key>
                <string>{40,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{113,40},{54,56}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>selected_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,606},{56,56}}</string>
                <key>offset</key>
                <string>{42,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,41},{56,56}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>selected_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,252},{58,56}}</string>
                <key>offset</key>
                <string>{44,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,41},{58,56}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>selected_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,422},{58,54}}</string>
                <key>offset</key>
                <string>{47,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,43},{58,54}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>selected_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,366},{58,54}}</string>
                <key>offset</key>
                <string>{50,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{121,43},{58,54}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>selected_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1150},{22,22}}</string>
                <key>offset</key>
                <string>{24,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,66},{22,22}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>selected_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,310},{58,54}}</string>
                <key>offset</key>
                <string>{53,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,44},{58,54}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>selected_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,194},{58,56}}</string>
                <key>offset</key>
                <string>{54,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,44},{58,56}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>selected_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,132},{58,60}}</string>
                <key>offset</key>
                <string>{56,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,40},{58,60}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>selected_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,68},{58,62}}</string>
                <key>offset</key>
                <string>{59,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{130,39},{58,62}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>selected_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{58,64}}</string>
                <key>offset</key>
                <string>{62,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,37},{58,64}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>selected_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,542},{56,62}}</string>
                <key>offset</key>
                <string>{65,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{137,37},{56,62}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>selected_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,478},{56,62}}</string>
                <key>offset</key>
                <string>{68,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,37},{56,62}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>selected_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1088},{30,30}}</string>
                <key>offset</key>
                <string>{58,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{143,36},{30,30}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>selected_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,1132},{28,28}}</string>
                <key>offset</key>
                <string>{61,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{147,37},{28,28}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>selected_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,1082},{24,24}}</string>
                <key>offset</key>
                <string>{25,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,64},{24,24}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>selected_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,1056},{26,24}}</string>
                <key>offset</key>
                <string>{26,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,63},{26,24}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>selected_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1120},{28,28}}</string>
                <key>offset</key>
                <string>{27,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,59},{28,28}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>selected_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1056},{30,30}}</string>
                <key>offset</key>
                <string>{28,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,55},{30,30}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>selected_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1022},{32,52}}</string>
                <key>offset</key>
                <string>{30,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{114,53},{32,52}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>selected_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,988},{32,52}}</string>
                <key>offset</key>
                <string>{33,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{117,52},{32,52}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>selected_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,952},{34,52}}</string>
                <key>offset</key>
                <string>{34,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{117,50},{34,52}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>selected.pvr.ccz</string>
            <key>size</key>
            <string>{62,1174}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:093edb3e45b9b44fe604909133e30c84$</string>
            <key>textureFileName</key>
            <string>selected.pvr.ccz</string>
        </dict>
    </dict>
</plist>
