<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>A_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,2},{281,323}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,45},{281,323}}</string>
                <key>sourceSize</key>
                <string>{311,415}</string>
            </dict>
            <key>B_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{285,329}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,42},{285,329}}</string>
                <key>sourceSize</key>
                <string>{311,415}</string>
            </dict>
            <key>C_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{853,2},{279,321}}</string>
                <key>offset</key>
                <string>{-5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,45},{279,321}}</string>
                <key>sourceSize</key>
                <string>{311,415}</string>
            </dict>
            <key>F_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1134,2},{251,251}}</string>
                <key>offset</key>
                <string>{-5,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,57},{251,251}}</string>
                <key>sourceSize</key>
                <string>{311,415}</string>
            </dict>
            <key>S_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,2},{279,321}}</string>
                <key>offset</key>
                <string>{-5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,45},{279,321}}</string>
                <key>sourceSize</key>
                <string>{311,415}</string>
            </dict>
            <key>pj1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1600,2},{211,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,230}}</string>
                <key>sourceSize</key>
                <string>{211,230}</string>
            </dict>
            <key>pj2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1813,2},{190,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,190}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>pj3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1387,2},{211,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,230}}</string>
                <key>sourceSize</key>
                <string>{211,230}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>appraisal.pvr.ccz</string>
            <key>size</key>
            <string>{2005,333}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c163c518fde6ff3b991f3ae0d42b693a$</string>
            <key>textureFileName</key>
            <string>appraisal.pvr.ccz</string>
        </dict>
    </dict>
</plist>
