<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>faxing.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,952},{218,92}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,8},{218,92}}</string>
                <key>sourceSize</key>
                <string>{246,110}</string>
            </dict>
            <key>faxing_effect.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,442},{218,94}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,7},{218,94}}</string>
                <key>sourceSize</key>
                <string>{246,110}</string>
            </dict>
            <key>hz_aes.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1956},{168,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,89}}</string>
                <key>sourceSize</key>
                <string>{168,89}</string>
            </dict>
            <key>hz_ajs.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1865},{168,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,89}}</string>
                <key>sourceSize</key>
                <string>{168,89}</string>
            </dict>
            <key>hz_ass.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,1782},{168,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,89}}</string>
                <key>sourceSize</key>
                <string>{168,89}</string>
            </dict>
            <key>hz_atb.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1774},{168,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,89}}</string>
                <key>sourceSize</key>
                <string>{168,89}</string>
            </dict>
            <key>hz_ates.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1683},{168,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,89}}</string>
                <key>sourceSize</key>
                <string>{168,89}</string>
            </dict>
            <key>hz_ats.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,1612},{168,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,89}}</string>
                <key>sourceSize</key>
                <string>{168,89}</string>
            </dict>
            <key>hz_atuis.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1592},{168,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,89}}</string>
                <key>sourceSize</key>
                <string>{168,89}</string>
            </dict>
            <key>hz_ays.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1501},{168,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,89}}</string>
                <key>sourceSize</key>
                <string>{168,89}</string>
            </dict>
            <key>hz_es.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,1442},{168,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,89}}</string>
                <key>sourceSize</key>
                <string>{168,89}</string>
            </dict>
            <key>hz_js.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1410},{168,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,89}}</string>
                <key>sourceSize</key>
                <string>{168,89}</string>
            </dict>
            <key>hz_ok.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,1952},{75,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,75}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>hz_ss.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1319},{168,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,89}}</string>
                <key>sourceSize</key>
                <string>{168,89}</string>
            </dict>
            <key>hz_tb.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,1272},{168,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,89}}</string>
                <key>sourceSize</key>
                <string>{168,89}</string>
            </dict>
            <key>hz_tes.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1228},{168,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,89}}</string>
                <key>sourceSize</key>
                <string>{168,89}</string>
            </dict>
            <key>hz_ts.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1137},{168,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,89}}</string>
                <key>sourceSize</key>
                <string>{168,89}</string>
            </dict>
            <key>hz_tuis.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,1102},{168,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,89}}</string>
                <key>sourceSize</key>
                <string>{168,89}</string>
            </dict>
            <key>hz_ys.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1046},{168,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,89}}</string>
                <key>sourceSize</key>
                <string>{168,89}</string>
            </dict>
            <key>lianyiqun.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,882},{218,92}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,8},{218,92}}</string>
                <key>sourceSize</key>
                <string>{246,110}</string>
            </dict>
            <key>lianyiqun_effect.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,386},{218,94}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,7},{218,94}}</string>
                <key>sourceSize</key>
                <string>{246,110}</string>
            </dict>
            <key>locked.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,1102},{101,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,63}}</string>
                <key>sourceSize</key>
                <string>{101,63}</string>
            </dict>
            <key>shangyi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,858},{218,92}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,9},{218,92}}</string>
                <key>sourceSize</key>
                <string>{246,110}</string>
            </dict>
            <key>shangyi_effect.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,290},{218,94}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,8},{218,94}}</string>
                <key>sourceSize</key>
                <string>{246,110}</string>
            </dict>
            <key>shipin.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,764},{218,92}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,9},{218,92}}</string>
                <key>sourceSize</key>
                <string>{246,110}</string>
            </dict>
            <key>shipin_effect.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,222},{218,94}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,7},{218,94}}</string>
                <key>sourceSize</key>
                <string>{246,110}</string>
            </dict>
            <key>waitao.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,670},{218,92}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,9},{218,92}}</string>
                <key>sourceSize</key>
                <string>{246,110}</string>
            </dict>
            <key>waitao_effect.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,194},{218,94}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,8},{218,94}}</string>
                <key>sourceSize</key>
                <string>{246,110}</string>
            </dict>
            <key>wazi.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,662},{218,92}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,10},{218,92}}</string>
                <key>sourceSize</key>
                <string>{246,110}</string>
            </dict>
            <key>wazi_effect.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,98},{218,94}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,8},{218,94}}</string>
                <key>sourceSize</key>
                <string>{246,110}</string>
            </dict>
            <key>xiazhuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,576},{218,92}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,9},{218,92}}</string>
                <key>sourceSize</key>
                <string>{246,110}</string>
            </dict>
            <key>xiazhuang_effect.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,2},{218,94}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,8},{218,94}}</string>
                <key>sourceSize</key>
                <string>{246,110}</string>
            </dict>
            <key>xiezi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,482},{218,92}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,10},{218,92}}</string>
                <key>sourceSize</key>
                <string>{246,110}</string>
            </dict>
            <key>xiezi_effect.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{218,94}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,8},{218,94}}</string>
                <key>sourceSize</key>
                <string>{246,110}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>changeclothes1.pvr.ccz</string>
            <key>size</key>
            <string>{328,2047}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:14d43ec3550be5f25674761cb79cde54$</string>
            <key>textureFileName</key>
            <string>changeclothes1.pvr.ccz</string>
        </dict>
    </dict>
</plist>
