<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gtn-mini.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{194,812}}</string>
                <key>offset</key>
                <string>{-23,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,94},{194,812}}</string>
                <key>sourceSize</key>
                <string>{692,956}</string>
            </dict>
            <key>zxb-mini.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,816},{158,258}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,258}}</string>
                <key>sourceSize</key>
                <string>{158,258}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>changeclothes3.pvr.ccz</string>
            <key>size</key>
            <string>{198,1076}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ff574b0bb02eeb47633fc0c34daaf9b3:c39ad22124c72a9d85a8d816b95bb04e:e3e1f05439537d88ae3ef8bd0f733353$</string>
            <key>textureFileName</key>
            <string>changeclothes3.pvr.ccz</string>
        </dict>
    </dict>
</plist>
