<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>yellow_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,220},{191,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,190}}</string>
                <key>sourceSize</key>
                <string>{191,190}</string>
            </dict>
            <key>yellow_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{216,216}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{216,216}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>yellow 2.pvr.ccz</string>
            <key>size</key>
            <string>{220,412}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fc167bc080507cd9f03cf6bed348415c$</string>
            <key>textureFileName</key>
            <string>yellow 2.pvr.ccz</string>
        </dict>
    </dict>
</plist>
